.hm-reply-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 750rpx;
  /* height: 730rpx; */
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 16rpx;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  border-radius: 44rpx;
  background-color: #f6f6f6;
  width: 720rpx;
  /* height: 650rpx; */
}

.hd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 32rpx;
  height: 42rpx;
}

.newComments {
  opacity: 1;
  margin-right: 426rpx;
  max-width: 492rpx;
  height: 40rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40rpx;
  white-space: nowrap;
  color: #092058;
  font-size: 30rpx;
  font-weight: 400;
}

.block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 42rpx;
}



.bd {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16rpx;
  border-radius: 22rpx;
  background-color: #ffffff;
  padding-right: 58rpx;
  padding-left: 32rpx;
  width: 656rpx;
  height: 120rpx;
}

.shopCreditWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 12rpx;
  height: 68rpx;
}

.shopCreditLv1 {
  margin-top: -12rpx;
  margin-right: 16rpx;
  width: 48rpx;
  height: 48rpx;
}

.desc {
  webkit-line-clamp: 2px;
  opacity: 1;
  width: 286rpx;
  height: 68rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36rpx;
  color: #092058;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 26rpx;
  font-weight: normal;
}

.twoDaysAgo {
  opacity: 1;
  line-height: 40rpx;
  white-space: nowrap;
  color: #7d90aa;
  font-size: 24rpx;
  font-weight: 400;
}






.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 42rpx;
}

