/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3807035 */
  src: url('https://at.alicdn.com/t/c/font_3807035_kc63ibds0s.woff2?t=1670072895078') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3807035_kc63ibds0s.woff?t=1670072895078') format('woff'),
       url('https://at.alicdn.com/t/c/font_3807035_kc63ibds0s.ttf?t=1670072895078') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shequ:before {
  content: "\f02a4";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-ditu:before {
  content: "\e884";
}

.icon-xiaoxi:before {
  content: "\e8bd";
}